@font-face {
  font-family: 'CMODSubotronBonusLevel';
  src: url('/fonts/cmod-subotron_bonuslevel.eot');
  src: url('/fonts/cmod-subotron_bonuslevel.eot') format('embedded-opentype'),
       url('/fonts/cmod-subotron_bonuslevel.woff2') format('woff2'),
       url('/fonts/cmod-subotron_bonuslevel.woff') format('woff'),
       url('/fonts/cmod-subotron_bonuslevel.ttf') format('truetype'),
       url('/fonts/cmod-subotron_bonuslevel.svg#CMODSubotronBonusLevel') format('svg');
}
