body
  @extend .texture-normal

#content, #footer
  +outer-container

header
  font-smoothing: antialiased
  background-color: $pn_dark_purple
  .navigation-wrapper
    padding: 5px 0
    +outer-container
    nav
      float: right
      height: 48px
    h1
      display: block
      height: 48px
      width: 300px
      padding-right: 25px
      float: left
      a
        color: $pn_light_blue
        font-family: 'TR2N', sans-serif
    ul
      display: inline
      line-height: 45px
      li
        display: inline
        padding-left: 1.5em
        &.active
          a
            color: $pn_light_blue
            &:hover
              color: lighten($pn_light_blue, 15)
        a
          transition: color .25s
          color: $pn_light_purple
          font-family: 'Synchro LET', sans-serif
          font-size: 1.25em
          &:hover
            color: lighten($pn_light_purple, 15)
