- if puzzle.answered_correctly?(current_user) || current_user.try(:admin)
  = link_to "View Discussion", puzzle_comments_path(puzzle)
- if show_solution_button?(current_user, puzzle)
  = link_to "Submit your solution", new_puzzle_submission_path(puzzle)
